{% extends 'Navbar.html' %}
{% load static %}

<html lang="en">
<head>
  <!-- Add any necessary meta tags, stylesheets, or scripts here -->
  <style>
    .container {
      margin-top: 50px; /* Adjust as needed */
    }

    .card {
      border: 2px solid #3498db; /* Border color for the cards */
      border-radius: 10px; /* Adjust border radius as needed */
      margin-bottom: 20px;
    }
  </style>
</head>

{% block body %}
<body>
  <div class="container">
    <div class="row">
      <div align="center" class="col">
        <br><br><br><br><br>
        <img src="{% static 'images/travel.jpeg' %}" alt="My image" width="290" height="200"/>
        <br><br>
        <h1>Welcome to Roy's Travel Tourism and Management</h1>
      </div>

      <div align="center" class="col">
        <h1>Top Vacation Destinations</h1>

        <div class="row">
          <div class="col-sm-6">
            <div class="card" style="width: 100%;">
              <img src="{% static 'images/tower.jpeg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Explore Paris</p>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="card" style="width: 100%;">
              <img src="{% static 'images/rome.jpeg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Explore Rome</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <br><br><br>
        <center>
          <div class="d-grid gap-2 col-6 mx-auto">
          <button class="btn btn-primary" type="submit" onclick="location.href='{% url 'Feedback' %}'"> Give FeedBack Here</button>
          </div>
        </center>
        <br><br><br><br><br><br>
      </div>
    </div>
  </div>
</body>
{% endblock %}
</html>
