<!DOCTYPE html>
{% extends 'Navbar.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% block body %}
<div>

    <div class="card" style="width: 18rem;">
  <img src="{% static 'Images/img.png' %}" >
  <div class="card-body">
    <h5 class="card-title">Welcome To KLU</h5>
    <p class="card-text">Welcome to My Channel</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

</div>
{% endblock %}
</body>
</html>